.scrollArea {
  height: 100%;
  background: var(--gray-a2);
  border-left: 1px solid var(--gray-a6);
}

.content {
  padding: var(--space-5);
}

.elementGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.timeframe {
  padding: var(--space-3);
  background: var(--gray-a3);
  border-radius: 8px;
  text-align: center;
}
