.scrollArea {
  height: 100%;
  width: 100%;
}

.content {
  padding: 24px;
}

.sectionContainer {
  background: var(--gray-2);
  border: 1px solid var(--gray-6);
  border-radius: 8px;
  padding: 20px;
}
